<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/autocomplete-ajax.custom.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-default" role="navigation" style="padding-top:0px !important; float:none; margin-top:-50px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav nav-pills">
                    <li>@Html.ActionLink("My Next Hotel", "GetAllHotels", "Hotels")</li>
                    <li>@Html.ActionLink("Hotels", "GetAllHotels", "Hotels")</li>
                    <li>@Html.ActionLink("Manage Hotels", "Menage", "Hotels")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
