@model IEnumerable<MyNextHotel.Common.Dtos.HotelDto>
@{
    /**/

    ViewBag.Title = "GetAllHotels";
}

@using (Html.BeginForm("Search", "Hotels", FormMethod.Get))
{
    <div class="row" style="margin-top:30px">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-3">
                @Html.TextBox("keyword", null, new { @class = "form-control", @id = "txtKeyword", @placeholder = "Search by name ..." })
            </div>
            <div class="col-md-2">
                @Html.TextBox("keywordCity", null, new { @class = "form-control", @id = "txtKeywordCity", @placeholder = "Search by city ..." })
            </div>
            <div class="col-md-2">
                @Html.DropDownList("RoomTypeId", new List<SelectListItem>
                {
                    new SelectListItem {Text = "Deluxe", Value="1"},
                    new SelectListItem {Text = "Standard", Value="2"}
                }, "Room Type", new { @class = "form-control btn-info" })
            </div>
            <div class="col-md-2">
                @Html.CheckBox("isPetFriendly") <label>Pet Friendly</label>
            </div>
            <div class="col-md-2">
                @Html.CheckBox("hasRestaurant") <label>With Restaurant</label>
            </div>
            <div class="col-md-1">
                <input class="btn btn-info" type="submit" value="Search" />
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br />
    <hr size="30">
}

<div class="container">
    <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">

        </div>
        @foreach (var hotel in Model)
        {
            <div class="col-md-4" style="margin-top:15px; margin-bottom:15px;">
                <p> @hotel.Name           </p>
                <div>
                    <img src="data:image;base64,@Convert.ToBase64String(hotel.PhotoData)" ; height="500" width="400" alt=" Image could not be loaded" class="img-responsive" onmouseover=""  style="cursor: pointer"   onclick="location.href='@Url.Action("HotelDetails", "Hotels", new { id=hotel.HotelID} )'" />
                </div>
            </div>
        }
    </div>
</div>

<script>
        $("#txtKeywordCity").autocomplete({
            source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetSearchValue","Autocomplete")',
                dataType: "json",
                data: { search: $("#txtKeywordCity").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }
    });
    </script>

